@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  height: 100vh;
  color: #333;
  background-image: linear-gradient(to top left, #210427ec 0%, #4e0e10 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* LAYOUT */
main {
  position: relative;
  width: 100rem;
  height: 65rem;
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  overflow: hidden;
  display: flex;
}

.player {
  flex: 50%;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.75s;
}

/* ELEMENTS */
h2 {
  position: relative;
  font-size: 2.3rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 300;
}

.first-game {
  background-color: rgba(255, 255, 255, 0.205);
}

.current {
  background-color: #c7365f;
  opacity: 0.8;
  border-radius: 9px;
  color: #fff;
  width: 95%;
  padding: 2rem;
  text-align: center;
  transition: all 0.75s;
  text-transform: uppercase;
}

div {
  margin-top: 5px;
  background-color: #6b3343;
  opacity: 0.8;
  border-radius: 9px;
  color: #fff;
  width: 95%;
  padding: 5rem;
  text-align: center;
  transition: all 0.75s;
  text-transform: uppercase;
  height: 150rem;
  width: 38rem;
}

.current:hover {
  cursor: default;
}
.text {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #ddd;
}

@media screen and (max-width: 750px) {
  main {
    width: 100rem;
    height: 65rem;
    flex-direction: column;
  }
  .player {
    flex: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.75s;
  }
  div {
    padding: 2rem;
    height: 18rem;
    width: 43.2rem;
    text-transform: none;
  }
  .text {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: #ddd;
  }
}
